input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="number"]{
  font-size: 0.9rem;
  font-weight: bold;
  color: #FFF
}
body{
  background-color: #243851
}